@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    width: 100vw;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,255,0.02), rgba(0,0,255,0.02)),
        url("../img/moroccan-flower.png");
    font-family: "Helvetica", sans-serif;
    pointer-events: none;
    user-drag: none;
    user-select: none;
}

#active {
    /* active region, is centered inside of <body> and should be the relative size of like everything */
    position: relative;
}

#mapimg {
    width: 100%;
    height: 100%;
}

#dot {
    /* debug dot */
    width: 10px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
    display: none;
}

.icon {
    /* div containing icon and arrow */
    position: absolute;
    width: calc(8% + 20px);
    aspect-ratio: 1/1;
    transition: width 0.2s;
    pointer-events: auto;
}

.icon:hover {
    width: calc(9% + 22.5px);
}

.iconimg {
    border-radius: 8px;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: drop-shadow(black 5px 5px 5px);
    pointer-events: none;
}

.arrow {
    position: absolute;
    width: calc(20% + 2px);
    aspect-ratio: 1/1;
}

#box {
    background-color: blue;
    float: right;
}

#flexdiv {
    position: fixed; /* fullscreen so we can center comics both ways */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
}

#sidebar {
    pointer-events: auto;
    background-color: blue;
    position: absolute;
    right: -25%; /* off the screen so we can animate it on */
    top: 0;
    bottom: 0;
    width: 25%;
    background: linear-gradient(rgba(245,245,255,0.7), rgba(245,245,255,0.7)),
        url("../img/spikes.webp");
}

.righttransition {
    transition: right 0.5s ease-in-out;
}

.sbtext {
    margin-left: 5px;
    margin-right: 5px;
    user-select: text;
    font-family: "Ubuntu", sans-serif;
}

#sbtitle {
    width: calc(100% - 55px); /* 40px is this's margin-left/margin-right + right and width of #xbutton
        + 5px more of margin */
}

#sbtext {
    width: calc(100% - 10px); /* only account for #sbtext margins */
}

#xbutton {
    background-color: #fff8f8;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 6px;
    border-style: outset;
    border-width: 2px;
}

#xbutton:hover {
    background-color: #eebbbb;
}

#xbutton:active {
    border-style: inset;
    background-color: #cc8888;
}

#xbimg {
    width: 20px;
    height: auto;
    margin: auto;
    pointer-events: none;
}

/* id's for images, percentage coordinates are hard coded and found using the debug pointer tool*/
#eiffel {
    left: 26.3%;
    top: 50.3%;
}

#triomphe {
    left: 26.6%;
    top: 33%;
}

#coeur {
    left: 55%;
    top: 18.9%;
}

#notredame {
    left: 59.2%;
    top: 56.3%;
}

#moulin {
    left: 48.7%;
    top: 21.6%;
}

#invalides {
    left: 37%;
    top: 53.2%;
}

#palais {
    left: 49%;
    top: 38.5%;
}

#pantheon {
    left: 56.8%;
    top: 63.2%;
}

#lyon {
    left: 72.6%;
    top: 65.8%;
}