body {
  width: 100vw;
  height: 100vh;
  display: flex;

  align-items: center;
  justify-content: center;

  /*background-image: url("../img/45degreee_fabric.png");*/
  background-image: url("../img/white_carbon.png");
}

#active {
  /* active region, is centered inside of <body> and should be the relative size of like everythin */
  position: relative;
}

#mapimg {
  width: 100%;
  height: 100%;
}

#dot {
  /* debug dot */
  width: 10px;
  height: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(-50%, -50%);
}

.icon {
  /* div containing icon and arrow */
  position: absolute;
  width: calc(10% + 20px);
  aspect-ratio: 1/1;
}

.iconimg {
  position: absolute;
  width: 100%;
  height: 100%;
  filter: drop-shadow(black 5px 5px 5px);
}

.arrow {
  position: absolute;
  width: calc(20% + 2px);
  aspect-ratio: 1/1;
}

#eiffel {
  left: 26.3%;
  top: 50.3%;
}